

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .colored-background {
    background-color: rgb(216, 148, 22); /* Set the background color */
    padding: 50px;
    width: 700px;
}

  .container {
    
  
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
  }
  .bordered-box {
    border: 8px solid black;
    padding: 30px; /* Add padding for space inside the border */
    width: 300px; /* Set a width for the box */
    height: 300px; /* Set a height for the box */
}
  header {
    text-align: center;
  }
  
  .slides img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
 
  .content {
    margin-top: 20px;
  }
  
  .content h2 {
    color: #700d0d;
  }
  
  .content p {
    color: #666;
  }
  